/* ==================================================
THEME.CSS - VARIÁVEIS GLOBAIS
================================================== */

/* ===================================================
TEMA CLARO 
==================================================== */

:root, 
body.theme-light{

  /*========= BASE =======*/
  --color-bg: #e8f5e9;
  --color-text: #302e2e;

/*========= CORES PRINCIPAIS ======*/
  --color-primary: #2e7d32;
  --color-primary-hover: #0c500f;
  --color-alert: #e53935;

/*===== SUPERFÍCIES =======*/
  --color-surface: #ffffff;
  --color-border: #cccccc;

/*===== EFEITOS =====*/
  --shadow-default: 0 4px 10px rgba(0, 128, 0, 0.25);
  --transition-default: 0.3s ease;

/*====== MENU/NAVBAR ======*/
  --menu-bg: #2e7d32;
  --menu-bg-secondary: #388e3c;
  --menu-hover: #1b5e20;
  --menu-text: #ffffff;
  
  --navbar-height: 56px;
  --menu-radius: 4px;
  --menu-gap-desktop: 12px;
  --menu-gap-mobile: 6px;

  /*======= BOTÕES =======*/
  --btn-auto-bg: #1976d2;
  --btn-manual-bg: #616161;
  --btn-on-bg: #4caf50;
  --btn-off-bg: #e53935;
  --btn-exit-bg: #b6aa0b;
  --btn-text: #ffffff;
  --btn-radius: 14px;

  /*====== LOGIN ======*/
  --login-bg: var(--color-surface);
  --login-shadow: 0 6px 15px rgba(0, 128, 0, o.25);

  /*======= RODAPÉ ========*/
  --footer-bg: var(--menu-bg);
  --footer-text: var(--menu-text);
  --footer-height: 48px;
}
/*========= TEMA DARK ==============*/
body.theme-dark{

  /*=====BASE=====*/
  --color-bg: #979696;
  --color-text: #f8f8f8;

  /*===== CORES PRINCIPAIS ======*/
  --color-primary: #0a0a0a;
  --color-primary-hover: #b2b4b2;
  --color-alert: #000500;
/*========SUPERFÍCIES======*/
  --color-surface: #1e1e1e;
  --color-border: #333333;

/*======= EFEITOS ======*/
  --shadow-default: none;
  --transition-default: 0.3s ease;

/*===== MENU/NAVBAR =====*/
  --menu-bg: #1e1e1e;
  --menu-bg-secondary: #2a2a2a;
  --menu-hover: #333333;
  --menu-text: #9b9696;

/*===== BOTÕES =====*/
  --btn-auto-bg: #010d1d;
  --btn-manual-bg: #050505;
  --btn-on-bg: #010801;
  --btn-off-bg: #1a0101;
  --btn-exit-bg: #141201;
  --btn-text: #ffffff;
  --btn-radius: 14px;

/*===== LOGIN ====*/
  --login-bg: var(--color-surface);
  --login-shadow: none;

  /*======= RODAPÉ ========*/
  --footer-bg: var(--menu-bg);
  --footer-text: var(--menu-text);
}
