:root, body.theme-light{
  --color-bg: #e8f5e9;
  --color-text: #1b1b1b;

  --color-primary: #2e7d32;
  --color-primary-hover: #0c500f;
  --color-alert: #e53935;

  --color-surface: #ffffff;
  --color-border: #cccccc;

  --shadow-default: 0 4px 10px rgba(0, 128, 0, 0.25);
  --transition-default: 0.3s ease;

  --menu-bg: #2e7d32;
  --menu-bg-secondary: #388e3c;
  --menu-hover: #1b5e20;
  --menu-text: #ffffff;

  --nav
